/*  Hoja de estilos personalizada  */

.login__page, .register__page{
    margin-left: auto;
    margin-right: auto;
}

.login__form, .register__form{
    display: flex;
    justify-content: center;
}

.login__form form, .register__form form{
    display: flex;
    flex-direction: column;
}

.login__form form [type="submit"], .register__form form [type=submit]{
    border-radius: var(--tam_5px);
}

.login__form form [type=submit]:hover, .register__form form [type=submit]:hover{
    background-color: var(--redColorPrimary);
}

.input__error{
    margin: 0 var(--tam_10px) var(--tam_10px) var(--tam_10px);
    background-color: var(--redColorPrimary);
    color: var(--whiteColorPrimary);
    padding: var(--tam_5px);
    font-size: .9rem;
}

.input__error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

/*  Animación de los mensajes de error  */
@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
}