.login__page{
    margin-left: auto;
    margin-right: auto;
}

.login__form{
    display: flex;
    justify-content: center;
}

.login__form form{
    display: flex;
    flex-direction: column;
}

.login__form form [type=submit]:hover{
    background-color: var(--orangeColorPrimary);
}